<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.priyanka2005.railwayapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".inside_activities.InsideHome" />
        <activity android:name=".inside_activities.InsideSignal" />
        <activity android:name=".inside_activities.InsideTele" />
        <activity android:name=".inside_activities.InsideTc" />
        <activity android:name=".inside_activities.InsideGen" />
        <activity android:name=".activities.AdminActivity" />
        <activity android:name=".activities.GalleryActivity" />
        <activity android:name=".listview_activities.InsideHomeList" />
        <activity android:name=".listview_activities.InsideGenList" />
        <activity android:name=".listview_activities.InsideSignalList" />
        <activity android:name=".listview_activities.InsideTeleList" />
        <activity android:name=".listview_activities.InsideTcList" />
        <activity android:name=".activities.Details" />
        <activity android:name=".inside_ntes_actvitites.SytActivity" />
        <activity android:name=".inside_ntes_actvitites.TbwsActivity" />
        <activity android:name=".inside_ntes_actvitites.SaActivity" />
        <activity android:name=".inside_ntes_actvitites.TsActivity" />
        <activity android:name=".inside_ntes_actvitites.FenqActivity" />
        <activity android:name=".inside_ntes_actvitites.PnActivity"></activity>
    </application>

</manifest>